<h1>Productos de la tienda</h1>

<form method="post">
    <label>Dirección envío: </label>
    <input type="text" name="direccion"
           class="form-control" />
    <button type="submit" class="btn btn-info">
        Comprar productos
    </button>
    <br />
    <input type="checkbox" name="producto"
           class="form-control" value="Maserati 200000€" />Maserati 200000€
    <br />
    <input type="checkbox" name="producto"
           class="form-control" value="Samsung S21 Ultra 900€" />Samsung S21 Ultra 900€
    <br/>
    <input type="checkbox" name="producto"
           class="form-control" value="IPhone 13 800€"/>IPhone 13 800€

</form>